<?xml version="1.0" encoding="UTF-8"?>
<launch4jConfig>
  <dontWrapJar>false</dontWrapJar>
  <headerType>gui</headerType>
  <jar>C:\Users\Daniel\SynologyDrive\CMP\Year 3\Bioinformatics\Coursework\ProteinAlignment\dist\ProteinAlignment.jar</jar>
  <outfile>C:\Users\Daniel\SynologyDrive\CMP\Year 3\Bioinformatics\Coursework\ProteinAlignment\Protein Sequencing.exe</outfile>
  <errTitle></errTitle>
  <cmdLine></cmdLine>
  <chdir>.</chdir>
  <priority>normal</priority>
  <downloadUrl>http://java.com/download</downloadUrl>
  <supportUrl></supportUrl>
  <stayAlive>false</stayAlive>
  <restartOnCrash>false</restartOnCrash>
  <manifest></manifest>
  <icon>C:\Users\Daniel\SynologyDrive\CMP\Year 3\Bioinformatics\Coursework\ProteinAlignment\src\Resources\dnaIcon.ico</icon>
  <singleInstance>
    <mutexName>Protein Sequencing</mutexName>
    <windowTitle>Protein Sequencing</windowTitle>
  </singleInstance>
  <jre>
    <path></path>
    <bundledJre64Bit>false</bundledJre64Bit>
    <bundledJreAsFallback>false</bundledJreAsFallback>
    <minVersion>1.8.0</minVersion>
    <maxVersion></maxVersion>
    <jdkPreference>preferJre</jdkPreference>
    <runtimeBits>64/32</runtimeBits>
  </jre>
</launch4jConfig>